.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.post {
  width: calc(50% - 20px); /* Defina a largura dos posts, menos o espaço entre eles */
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 100ms ease-in-out;
  flex: 1 0 300px; /* Faz com que os posts ocupem toda a largura disponível */
  margin: 10px; /* Adiciona margem para espaçamento */
}

.post:hover {
  transform: scale(1.05);
}

.post img {
  max-width: 100%;
}

.post-content {
  padding: 30px;
}
